<div class="row p-fluid">
  <div class="field">
    <label for="username1" class="block">Fullname</label>
    <input id="username1" type="username" aria-describedby="username1-help" pInputText [(ngModel)]="value4"/>
</div>
  <div class="field">
    <label for="username1" class="block">Username</label>
    <input id="username1" type="username" aria-describedby="username1-help" pInputText [(ngModel)]="value4"/>
  </div>
  <div class="field">
    <label for="username1" class="block">Email</label>
    <input id="username1" type="username" aria-describedby="username1-help" pInputText [(ngModel)]="value4"/>
  </div>
  <div class="field">
    <label for="username1" class="block">Address</label>
    <input id="username1" type="username" aria-describedby="username1-help" pInputText [(ngModel)]="value4"/>
  </div>
  <div class="field">
    <label for="username1" class="block">Company</label>
    <input id="username1" type="username" aria-describedby="username1-help" pInputText [(ngModel)]="value4"/>
  </div>
</div>
